<?xml version="1.0"?>
<launch>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
   <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(find robot1_gazebo)/worlds/robot1.world"/>
    <arg name="gui" value="true" />
    <arg name="use_sim_time" value="true"/>
    <arg name="paused" value="true"/>
  </include>

  <!-- Spawn a robot into Gazebo -->
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-file $(find robot1_description)/urdf/robot1.urdf -urdf -z 0 -model robot1" />

</launch>
